<!DOCTYPE html>
<html>
<head>
    <title>Produtos</title>
</head>
<body>

    <h1>Buscar</h1>
    <button onclick="buscarProximos()">📍 Ver restaurantes próximos</button>

<form method="get">
    <input type="text" name="produto" placeholder="Buscar produto..." value="{{ query_produto }}">
    
    <input type="text" name="restaurante" placeholder="Buscar restaurante..." value="{{ query_restaurante }}">
    
    <button type="submit">Pesquisar</button>
</form>

<hr>

    <h1>Produtos disponíveis</h1>

    <ul>
        {% for p in produtos %}
            <li>
                <strong>{{ p.nome }}</strong>  
                - R$ {{ p.preco }}  
                ({{ p.restaurante }})
            </li>
        {% endfor %}
    </ul>

    <h1>Restaurantes disponíveis</h1>

<ul>
    {% for r in restaurantes %}
        <li>
            <strong>{{ r.nome }}</strong> <br>
            {{ r.endereco }}
        </li>
    {% endfor %}
</ul>

<hr>

<script>
function buscarProximos() {
    navigator.geolocation.getCurrentPosition(
        function(position) {
            const lat = position.coords.latitude;
            const lon = position.coords.longitude;

            window.location.href = `/api/restaurantes-proximos/?lat=${lat}&lon=${lon}`;
        },
        function(error) {
            console.log(error);
            alert("Erro de localização: " + error.message);
        }
    );
}
</script>

</body>
</html>